.sidebar {
  width: 200px;
  height: 208vh; /* full screen height */
  background-color: #bde2fe;
  color: white;
  padding: 20px;
  min-height: 100vh; /* ✅ fills screen if content small */
  height: auto;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #26a0fc;
}
